<launch>

  <arg name="world_name" default="worlds/erl_static.world"/>
  <arg name="marker1_color" default="blue"/>
  <arg name="marker2_color" default="blue"/>
  <arg name="marker3_color" default="green"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find erl_simulations)/$(arg world_name)"/> 
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <param name="robot_description" command="$(find xacro)/xacro '$(find husky_description)/urdf/husky.urdf.xacro'" />

  <include file="$(find husky_gazebo)/launch/spawn_husky.launch">
    <arg name="x" value="-10.0"/>
    <arg name="y" value="-15.0"/>
  </include>

<!-- Two blue markers and one green -->
<node name="spawn_marker1" pkg="gazebo_ros" type="spawn_model" args="-file $(find erl_simulations)/models/marker_$(arg marker1_color)/model.sdf -sdf 	-model marker1	-x -3.31 -y -10 -z 1.88 " />
<node name="spawn_marker2" pkg="gazebo_ros" type="spawn_model" args="-file $(find erl_simulations)/models/marker_$(arg marker2_color)/model.sdf -sdf 	-model marker2	-x 2.37  -y -10 -z 1.88 " />
<node name="spawn_marker3" pkg="gazebo_ros" type="spawn_model" args="-file $(find erl_simulations)/models/marker_$(arg marker3_color)/model.sdf -sdf 	-model marker3	-x 7.69  -y -10 -z 1.88 " />

</launch>
